<template>
  <div class="hello">
    <h2>asdassd</h2>
    <h1>{{ msg }}</h1>
    <button @click="storeCountPlus">{{ this.$store.state.count }} count++</button>

  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    storeCountPlus() {
        return this.$store.dispatch('countPlus');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
